
.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board-header {
  width: 100%;
  max-width: 600px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.board {
  position: relative;
  box-sizing: border-box;
  touch-action: none;   
  user-select: none;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.45);
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}
.board-title {
  font-size: 2.5em;
  font-weight: bold;
}

.board-grid {
  position: absolute;
  box-sizing: border-box;
}

.board-row {
  display: flex;
}

.board-cell {
  background: rgba(238,228,218,0.35);
  border-radius: 6px;
  box-sizing: border-box;
}
.board-restart {
  background-color: #f59563;
  color: black;
  border: 1px solid #6699CC;
  border-radius: 10px;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
