body {
  margin: 0;
  padding: 0;

}
.container {
  min-height: 60vh;
  background-color: #4d8cde;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.app {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.spacer {
  height: 18px;
}
